<launch>
  <arg name="_node_name" default="sunray_yunlink_compare_ui"/>
  <arg name="_agent_name" default="uav"/>
  <arg name="_agent_id" default="1"/>
  <arg name="_align_window_ms" default="300"/>
  <arg name="_shared_secret" default="yunlink-default-secret"/>
  <arg name="_remote_ip" default="127.0.0.1"/>
  <arg name="_remote_tcp_port" default="9696"/>
  <arg name="_udp_bind_port" default="9797"/>
  <arg name="_udp_target_port" default="9898"/>
  <arg name="_tcp_listen_port" default="9797"/>
  <arg name="_history_limit" default="200"/>
  <arg name="_log_limit" default="500"/>

  <node pkg="sunray_yunlink_compare_ui"
        type="sunray_yunlink_compare_ui"
        name="$(arg _node_name)"
        output="screen">
    <param name="node_name" value="$(arg _node_name)"/>
    <param name="agent_name" value="$(arg _agent_name)"/>
    <param name="agent_id" value="$(arg _agent_id)"/>
    <param name="align_window_ms" value="$(arg _align_window_ms)"/>
    <param name="shared_secret" value="$(arg _shared_secret)"/>
    <param name="remote_ip" value="$(arg _remote_ip)"/>
    <param name="remote_tcp_port" value="$(arg _remote_tcp_port)"/>
    <param name="udp_bind_port" value="$(arg _udp_bind_port)"/>
    <param name="udp_target_port" value="$(arg _udp_target_port)"/>
    <param name="tcp_listen_port" value="$(arg _tcp_listen_port)"/>
    <param name="history_limit" value="$(arg _history_limit)"/>
    <param name="log_limit" value="$(arg _log_limit)"/>
  </node>
</launch>
