<launch>
  <arg name="_node_name" default="sunray_advanced_monitor"/>
  <arg name="_agent_name" default="uav"/>
  <arg name="_agent_id" default="1"/>
  <arg name="_shared_secret" default="yunlink-default-secret"/>
  <arg name="_remote_ip" default="127.0.0.1"/>
  <arg name="_remote_tcp_port" default="9696"/>
  <arg name="_udp_bind_port" default="9797"/>
  <arg name="_udp_target_port" default="9898"/>
  <arg name="_tcp_listen_port" default="9797"/>
  <arg name="_log_limit" default="500"/>
  <arg name="_state_timeout_sec" default="2.0"/>
  <arg name="_authority_ttl_ms" default="3000"/>
  <arg name="_command_history_limit" default="32"/>
  <arg name="_command_timeout_ms" default="3000"/>

  <node pkg="sunray_advanced_monitor"
        type="sunray_advanced_monitor"
        name="$(arg _node_name)"
        output="screen">
    <param name="node_name" value="$(arg _node_name)"/>
    <param name="agent_name" value="$(arg _agent_name)"/>
    <param name="agent_id" value="$(arg _agent_id)"/>
    <param name="shared_secret" value="$(arg _shared_secret)"/>
    <param name="remote_ip" value="$(arg _remote_ip)"/>
    <param name="remote_tcp_port" value="$(arg _remote_tcp_port)"/>
    <param name="udp_bind_port" value="$(arg _udp_bind_port)"/>
    <param name="udp_target_port" value="$(arg _udp_target_port)"/>
    <param name="tcp_listen_port" value="$(arg _tcp_listen_port)"/>
    <param name="log_limit" value="$(arg _log_limit)"/>
    <param name="state_timeout_sec" value="$(arg _state_timeout_sec)"/>
    <param name="authority_ttl_ms" value="$(arg _authority_ttl_ms)"/>
    <param name="command_history_limit" value="$(arg _command_history_limit)"/>
    <param name="command_timeout_ms" value="$(arg _command_timeout_ms)"/>
  </node>
</launch>
